.course-handler {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--pane-h);
  padding: 1rem;
  background-color: var(--csu-surface);
}

@media (max-width: 1000px) {
  .course-handler {
    padding: 0.75rem;
  }
}
